@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.day-card {
    border-radius: 5px;
    background-color: rgb(38, 38, 38);
}

.calendar-container {
    flex: 3;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(60, 60, 60);
    margin: 2rem;
}

.app-calendar {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 4fr));
}

main {
    display: flex;
}

header {
    background: black;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

aside {
    flex: 1;
    background: gray;
    margin: 2rem;
    border-radius: 10px;
    width: 20rem;
    box-shadow: 1px 3px 3px black;
}
.myDay {
   
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: x-large;
}
#clock{
    font-size: 50px;
}
#todo-container{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    
}
#toDo {
    padding-left: 1rem;
}
.todo-Item{
    border: 1px solid;
    border-radius: 3px;
    margin: 3px;
    background: rgb(100, 99, 99);
    box-shadow: 1 1 1 10px black;
    cursor: pointer;
    padding-left: 4px;
}

.todo-Item:hover{
    background-color: greenyellow;
    color: black;

}

#todo-list{
    list-style: none;
}

#new-todo, #edit-todo-text{
    width: 80%;
    padding: 0.5rem;
    margin: 0.5rem;
}
#todo-date, #edit-todo-date{
    width: 40%;
    padding: 0.5rem;
    margin: 0.5rem;

}
#todo-time, #todo-end-time, #edit-todo-time{
    width: 25%;
    padding: 0.5rem;
    margin: 0.5rem;

}
#add-todo-btn {
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

#todo-list{
    padding: 20px;
}

.todo-item button {/* class made in JS-todo */
    cursor: pointer;

}
#edit-modal {
    width: 20rem;
    display: none;
    position: fixed;
    top: 60%;
    left: 12%;
    transform: translate(-50%, -50%);
    padding:20px;
    background-color: grey;
    border: 2px solid black;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#save-edit-btn, #close-edit-btn{
    padding: 0.5rem;
    width: 5rem;
}


