@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.day-card {
    border-radius: 5px;
    background-color: rgb(38, 38, 38);
}

.calendar-container {
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(60, 60, 60);
    margin: 2rem;
}

.app-calendar {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 4fr));
}

main {
    display: flex;
}

header {
    background: black;
    font-size: xx-large;
    text-align: center;
    padding: 2rem;
    
}
aside {
    background: gray;
    display:flex;
    margin: 2rem;
    border-radius: 5px;
    width: 20rem;
    justify-content: center;
    text-align: center;
}
.myDay {
    padding: 20px;
}
