@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 13%);
}

aside {
  padding-inline: 2rem;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  margin-top: 1rem;
  color: rgb(214, 214, 214);
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#clock {
  font-size: 1.5rem;
}


.container {
  position: relative;
  width: 1200px;
  min-height: 850px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  border-radius: 10px;
  background-color: #3f3f3f;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav {
    padding-inline: 2rem;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

li {
    z-index: 1000;
  list-style: none;
  cursor: pointer;
}

p {
    color: #7b7b7b;
}

i {
    color: rgb(24, 24, 24);
}

li:hover {
  color: rgb(127, 127, 127);
  transition: ease-in-out 0.2s;
}

.left {
  width: 60%;
  padding: 20px;
}

nav {
  color: rgb(214, 214, 214);
  margin-bottom: 1rem;
}

canvas {
    position: absolute;
}

.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    color: #878895;
    border-radius: 5px;
    background-color: #ffffffa5;
  }

#weatherSelector {
    position: relative;
    z-index: 100;
}

.weekdays {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

h2 {
    color: rgb(64, 64, 64);
    font-weight: 500;
}

#addTodoItem{
  right: 30rem;
  background-color: #747373;
  border-radius: 50px;
  padding: 10px;
  width: 3rem;
  color: white;
  cursor: pointer;
}
#dayAndDate {
  font-size: large;
  font-weight: 700;
}
#todo-list{
  list-style: none;

}
#todo-container{
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  
}
